* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main{
    background-color: white;
    box-shadow: 0 0 0.5em 0.3em rgb(0,0,0,0.2);
    width: 60%;
    margin: 2em auto;
    padding: 3em;
}

body{
    background-color: rgb(217, 217, 217);
    font-family: Calibri, serif;
}

.about{
    display: flex;
}

.profile{
    width: 100%;
    padding: 0.5em;
    margin: 0.5em;
}

.description{
    margin: 0.5em;
    padding: 0.5em;
}